.box1{
    position: relative;
    top: 70px;
    background-image: url(/src/Images/BGIndex.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1150px;
}
.title{
    position: absolute;
    width:  max-content;
    height: max-content;
    top: -700px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-image: linear-gradient(to right, #fff 0%, #4E4E4E 25%, #4E4E4E 50%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    font-family: 'Kurale', serif;
    font-size: 150px;
    font-weight: 100;
}
.box2{
    position: absolute;
    width: 50%;
    height: 300px;
    top: 670px;
}
.p1{
    position: relative;
    top: -100px;
    left: 25%;
    text-align: center;
    font-size: 20px;
    font-family: 'Kurale', serif;
    color: #000;
    margin-bottom: 20px;
    z-index: 1;
}
.size{
    font-size: 30px;
}
.box3{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #717171;
    justify-content: space-around;
    padding: 0 25%;
}
.h3{
    z-index: 1;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 22px;
    font-family: 'Kurale', serif;
}
.p2{
    text-align: center;
    width: 300px;
    z-index: 1;
    color: #fff;
    font-family: 'Kurale', serif;
}
.h2{
    font-family: 'Kurale', serif;
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    padding: 100px 0;
}
.box4{
    position: relative;
    top: 100px;
    width: 1000px;
    display: grid;
    margin: auto;
    grid-template-areas:
    'p3 img p5'
    'p4 img p6';
}
.img1{
    position: relative;
    top: -100px;
    grid-area: img;
}
.p3,.p4,.p5,.p6{
    position: relative;
    text-align: center;
    width: 150px;
    font-family: 'Kurale', serif;
    font-size: 22px;
    height: max-content;
}
.p3{
    grid-area: p3;
}
.p4{
    grid-area: p4;
}
.p5{
    grid-area: p5;
}
.p6{
    grid-area: p6;
}
.box5{
    display: flex;
    margin: auto;
    width: 70%;
    height: 400px;
    background-color: #717171;
    justify-content: space-around;
}
.box5 div{
    position: relative;
    top: 50px;
    width: 300px;
    height: 300px;
    color: #fff;
    text-align: center;
}
.box5 img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.box5 p, .box5 h3{
    margin: 10px;
}
@media (max-width:1200px){
    .title{
        font-size: 100px;
    }
    .box4{
        width: 80%;
        gap: 0 50px;
    }
    .img1{
        top: -50px;
        width: 300px;
    }
    .p3,.p4,.p5,.p6{
        width: 100px;
        font-size: 16px;
    }
    .box5{
        width: 80%;
    }
    .box5 div{
        width: 200px;
    }
    .box5 img{
        width: 150px;
        height: 150px;
    }
}
@media (max-width:900px){
    .box3{
        padding: 0 0;
    }
    .box3 div{
        width: 200px;
    }
    .h3{
        margin-top: 50px;
        font-size: 20px;
    }
    .p2{
        width: 200px;
        font-size: 14px;
    }
}
@media (max-width:700px){
    .title{
        top: -300px;
        font-size: 80px;
    }
    .p1{
        margin-bottom: 18px;
    }
    .size{
        font-size: 26px;
    }
    .box1{
        height: 800px;
    }
    .box2{
        top: 500px;
    }
    .box3 div{
        width: 100px;
    }
    .p2{
        width: 100px;
        font-size: 14px;
    }
    .box4{
        width: 100%;
        gap: 0 50px;
        justify-content: center;
    }
    .img1{
        margin: auto;
        width: 200px;
    }
    .p3,.p4,.p5,.p6{
        text-align: center;
        width: 50px;
    }
    .box5{
        width:100%;
    }
    .box5 div{
        width: 200px;
    }
    .box5 img{
        width: 150px;
        height: 150px;
    }
}
@media (max-width:500px){
    .title{
        font-size: 50px;
    }
    .box2{
        left: -10%;
        width: 80%;
    }
    .h2{
        font-size: 24px;
    }
    .box4{
        gap: 0 10px;
    }
    .p3,.p4,.p5,.p6{
        font-size: 12px;
    }
    .box5 div{
        width: 100px;
    }
    .box5 img{
        width: 80px;
        height: 80px;
    }
}
