main{
    position: relative;
    top: 150px;
}
h2, p, h3, li{
    width: 50%;
    margin: 20px auto;
}
li{
    padding-left: 20px;
}
a{
    color: #000;
}
@media (max-width: 700px){
    h2, p, h3, li{
        width: 80%;
    }
}
